.card-footer {
  padding: 10px;
  background-color: #f5f5f5;
}

.card-footer span {
  margin-right: 10px;
  font-size: 14px;
  color: #999999;
}

.card-footer span i {
  margin-right: 5px;
  font-size: 12px;
  color: #999999;
}

.card-body .company-name {
  color: #808080;
  font-size: 16px;
}
.card-body .job-title {
  font-size: 20px;
  color: #333;
  line-height: 30px;
  font-weight: 500;
}

.card-body .job-description {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 7px;
}
